{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

<div class="container text-center">
    <div class="row justify-content-start">
        <div class="col-4">
        .
        </div>
        <div class="col-4">
        .
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
        .
        </div>
        <div class="col-4">
        .
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-4">
        .
        </div>
        <div class="col-4">
        .
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-4">
        .
        </div>
        <div class="col-4">
        .
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-4">
        .
        </div>
        <div class="col-4">
        .
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-4">
        .
        </div>
        <div class="col-4">
    <p>
        Si un compte correspondant à votre adresse e-mail existe, cela signifie qu'un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans 1 heure.
        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    <p/>

    <p>
    Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essayer à nouveau.</a>
    <p/>
{#     <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p> #}

        </div>
    </div>
</div>


{% endblock %}
